@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Text:wght@900&family=Erica+One&family=Fascinate&family=Geostar+Fill&family=Libre+Barcode+39+Text&family=Lobster&family=Montserrat+Subrayada:wght@700&family=Notable&family=Noto+Sans+Egyptian+Hieroglyphs&family=Plaster&family=Zen+Dots&display=swap');

.big-shoulder { font-family: 'Big Shoulders Inline Text', cursive; }
.erica-one { font-family: 'Erica One', cursive; } 
.fascinate { font-family: 'Fascinate', cursive; }
.geostar-fill { font-family: 'Geostar Fill', cursive; }
.libre-barcode { font-family: 'Libre Barcode 39 Text', cursive; }
.lobster { font-family: 'Lobster', cursive; }
.montserrat { font-family: 'Montserrat Subrayada', sans-serif; }
.notable { font-family: 'Notable', sans-serif; }
.noto-sans { font-family: 'Noto Sans Egyptian Hieroglyphs', sans-serif; }
.plaster { font-family: 'Plaster', cursive; }
.zen-dots { font-family: 'Zen Dots', cursive; }
.left-margin { margin-left: 5% }
.white { color: #fff; }
#black { color: #000; }
.name-header { margin-top: 11rem; }
.size-1 { font-size: 1rem; }
.size-1-25 { font-size: 1.25rem }
.size-1-5 { font-size: 1.5rem; }
.size-2 { font-size: 2rem; }
.size-3 { font-size: 3rem; }
.size-4 { font-size: 4rem; }
.size-5 { font-size: 5rem; }
.size-6 { font-size: 6rem; }
.size-7 { font-size: 7rem; }
.size-8 { font-size: 8rem; }
.center { text-align: center }

* { margin: 0; padding: 0; }

section {
    min-height: 100vh;
}

#contact {
    background-color: #ccc;
}



.row {
    margin: 0;
    padding: 0;
}

.hero-section {
    background-image: url("./images/hexagons-3.png");
    background-position: center;
    width: 100%;
}

#resume {
    background-image: url("./images/hexagons-2.png");
    background-position: center;
}

#contact {
    background-image: url("./images/hexagons-4.png");
    background-position: center;
}

#large-link {
    background-color: #fff;
    font-size: 1.75rem;
    color: #000;
    text-align: center;
    padding-top: 15rem;
}
#large-link:hover {
    background-color: #999;
    color: #000;
}

a {
    text-decoration: none;
    color: #000;
}
a:hover {
    color: #000;
}

.link-container {
    height: 40rem;
}

.card-img-overlay {
    opacity: 40%;
    background-color: #aaa;
}

.card-img-overlay:hover {
    background-color: #aaa;
    opacity: 80%;
}

.card-text {
    padding-top: 10rem;
    font-size: 3rem;
}

.display-1, .display-3, .display-4 {
    margin-left: 5%;
}
.display-1 {
    font-size: 7em;
    margin-top: 2em;
}
.display-3 {
    font-size: 5em;
}
.display-4 {
    font-size: 2em;
}


h1 {
    color: #fff;
    font-size: 7em;
    font-family:Arial, Helvetica, sans-serif;
    
}
h3 {
    color: #fff;
}


.nav-link-black {
    color: #000;
}
.nav-link {
    color: #fff;
    font-size: 1.4rem;
    text-align: center;
    margin-right: 3em;
}
.nav-link:hover {
    color: #000;
    background-color: #ccc;
}

.icon-img {
    width: 5em;
    height: 5em;
    margin: 2em;
}

@keyframes slidein {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0%);
    }
}

.slide-in-1 {
    animation-duration: 2s;
    animation-name: slidein;
    animation-delay: 0.5s;
}

.slide-in-2 {
    animation-duration: 2s;
    animation-name: slidein;
    animation-delay: 1s;
}






















/* section {
    width: 100%;
    display: flex;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

/* CSS HEX */
/* --gainsboro: #dbdbdbff;
--silver-chalice: #b0b5b3ff;
--sonic-silver: #706f6fff;
--indigo: #440381ff;
--persian-rose: #ff299cff;
--blue-violet-color-wheel: #541388ff;
--purple: #5603adff;
--violet-ryb: #791e94ff;
--tyrian-purple: #561643ff; */

/* CSS HSL */
/* --gainsboro: hsla(0, 0%, 86%, 1);
--silver-chalice: hsla(156, 3%, 70%, 1);
--sonic-silver: hsla(0, 0%, 44%, 1);
--indigo: hsla(271, 95%, 26%, 1);
--persian-rose: hsla(328, 100%, 58%, 1);
--blue-violet-color-wheel: hsla(273, 75%, 30%, 1);
--purple: hsla(269, 97%, 35%, 1);
--violet-ryb: hsla(286, 66%, 35%, 1);
--tyrian-purple: hsla(318, 59%, 21%, 1); */

/* SCSS HEX */
/* $gainsboro: #dbdbdbff;
$silver-chalice: #b0b5b3ff;
$sonic-silver: #706f6fff;
$indigo: #440381ff;
$persian-rose: #ff299cff;
$blue-violet-color-wheel: #541388ff;
$purple: #5603adff;
$violet-ryb: #791e94ff;
$tyrian-purple: #561643ff; */

/* SCSS HSL */
/* $gainsboro: hsla(0, 0%, 86%, 1);
$silver-chalice: hsla(156, 3%, 70%, 1);
$sonic-silver: hsla(0, 0%, 44%, 1);
$indigo: hsla(271, 95%, 26%, 1);
$persian-rose: hsla(328, 100%, 58%, 1);
$blue-violet-color-wheel: hsla(273, 75%, 30%, 1);
$purple: hsla(269, 97%, 35%, 1);
$violet-ryb: hsla(286, 66%, 35%, 1);
$tyrian-purple: hsla(318, 59%, 21%, 1); */

/* SCSS RGB */
/* $gainsboro: rgba(219, 219, 219, 1);
$silver-chalice: rgba(176, 181, 179, 1);
$sonic-silver: rgba(112, 111, 111, 1);
$indigo: rgba(68, 3, 129, 1);
$persian-rose: rgba(255, 41, 156, 1);
$blue-violet-color-wheel: rgba(84, 19, 136, 1);
$purple: rgba(86, 3, 173, 1);
$violet-ryb: rgba(121, 30, 148, 1);
$tyrian-purple: rgba(86, 22, 67, 1); */

/* SCSS Gradient */
/* $gradient-top: linear-gradient(0deg, #dbdbdbff, #b0b5b3ff, #706f6fff, #440381ff, #ff299cff, #541388ff, #5603adff, #791e94ff, #561643ff);
$gradient-right: linear-gradient(90deg, #dbdbdbff, #b0b5b3ff, #706f6fff, #440381ff, #ff299cff, #541388ff, #5603adff, #791e94ff, #561643ff);
$gradient-bottom: linear-gradient(180deg, #dbdbdbff, #b0b5b3ff, #706f6fff, #440381ff, #ff299cff, #541388ff, #5603adff, #791e94ff, #561643ff);
$gradient-left: linear-gradient(270deg, #dbdbdbff, #b0b5b3ff, #706f6fff, #440381ff, #ff299cff, #541388ff, #5603adff, #791e94ff, #561643ff);
$gradient-top-right: linear-gradient(45deg, #dbdbdbff, #b0b5b3ff, #706f6fff, #440381ff, #ff299cff, #541388ff, #5603adff, #791e94ff, #561643ff);
$gradient-bottom-right: linear-gradient(135deg, #dbdbdbff, #b0b5b3ff, #706f6fff, #440381ff, #ff299cff, #541388ff, #5603adff, #791e94ff, #561643ff);
$gradient-top-left: linear-gradient(225deg, #dbdbdbff, #b0b5b3ff, #706f6fff, #440381ff, #ff299cff, #541388ff, #5603adff, #791e94ff, #561643ff);
$gradient-bottom-left: linear-gradient(315deg, #dbdbdbff, #b0b5b3ff, #706f6fff, #440381ff, #ff299cff, #541388ff, #5603adff, #791e94ff, #561643ff);
$gradient-radial: radial-gradient(#dbdbdbff, #b0b5b3ff, #706f6fff, #440381ff, #ff299cff, #541388ff, #5603adff, #791e94ff, #561643ff); */

/* 
#39065A
#6A0572
#9A0F98
#EA0599 
*/