body {
  /* background-image: linear-gradient(#622FD9, #835ae1); */
  background-color: #000;
  min-height: 100vh;
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav {
  background-color: #000;
}

.navlink {
  color: #fff;
  padding: 10px;
  font-size: 1.25em;
}
.navlink:hover {
  background-image: linear-gradient(#835ae1, #ca3ed6);
  color: #fff;
}

.logo {
  padding: 10px;
}

p {
  font-size: 1.25em;
}

.box{
  display: none;
  width: 100%;
}

a:hover + .box,.box:hover{
  display: block;
  position: relative;
  z-index: 100;
}

.card {
  text-align: left;
  background-color: transparent;
  border: 5px solid #fff;
  display: flex;
  flex: 1 1 auto;
  margin: 1rem;
}

.card:hover {
  background-image: linear-gradient(#835ae1, #ca3ed6);
}

a {
  text-decoration: none;
  color: #fff;
}
a:hover {
  color: #fff;
}

.btn-light:hover {
  background-color: #ccc;
}

.card-img {
  align-self: center;
  max-width: 200px;
}

.link-container {
  margin: 0 20%;
}







/* 255, 68, 99 */

/* https://github.com/mars/create-react-app-buildpack.git */

/* https://serene-meadow-81306.herokuapp.com/ */